@font-face{
    font-family: 'calculator';    
    src: url('../fonts/digital-7.ttf');    
    src: url('../fonts/digital-7.ttf') format('ttf'),      
    url('../fonts/digital-7.ttf') format('truetype'),    
    }

body {
    background-image: url(../src/1255135.jpg);
}
.c-main-board {
    position: absolute;    
    width: 500px;
    height: 550px;
    top: 20%;
    left: 35%;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(207, 207, 207);    
}

.c-main-buttons {
    width: 450px;
    height: 400px;
    margin: 0 auto; 
}

.c-main-button {    
    width: 109px;
    height: 50px;
    margin-top: 25px;
    font-size: 25px;
    color: rgb(59, 59, 59);  
    border-radius: 12px;  
    
}

.c-main-button:hover {
    transition: .6s;
    color: #fff;    
    background-color: rgb(124, 122, 248);
}

.c-main-input {

    width: 447px;
    height: 100px;
          
    margin-left: 23px;
    margin-top: 40px;
    border-radius: 15px;
    font-size: 80px;
    text-align: right;
    font-family: 'calculator';
    color: #fff;
    background-color: rgb(0, 0, 0);        
    
}

input,
input:active,
input:focus,
button, 
button:active, 
button:focus {
    border: 0;
    outline: none;
}
